
<h2> database setup</h2>
<h3>  <%= link_to  "Show all Authors" ,users_path %></h3>
<h3>  <%= link_to  "Show all Posts" ,posts_path %></h3>
<h3>  <%= link_to  "Show all Authors and posts" ,users_path %></h3>
<h3>  <%= link_to  "Show all Posts by Author" ,posts_path %></h3>



